/bin/
/dist/
/build/
/builddir/
/.vm/
/nm-netbird-service
/fake-netbird-daemon
/packaging/selinux/*.mod
/packaging/selinux/*.mod.fc
/packaging/selinux/*.pp
/packaging/selinux/*.fc.tmp
/packaging/selinux/tmp/
